flows 2.json
[{"id":"1d0a82bd.003b4d","type":"ui_form","z":"f4e2f71a.0d6e08","name":"","label":"","group":"a64894a2.735778","order":3,"width":0,"height":0,"options":[{"label":"R&D Spent","value":"rd","type":"number","required":true},{"label":"Administartion","value":"ad","type":"number","required":true},{"label":"Marketing Spent","value":"ms","type":"number","required":true},{"label":"State1","value":"st1","type":"number","required":true},{"label":"State2","value":"st2","type":"number","required":true}],"formValue":{"rd":"","ad":"","ms":"","st1":"","st2":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":110,"y":420,"wires":[["9c142cc7.7aac2"]]},{"id":"9c142cc7.7aac2","type":"function","z":"f4e2f71a.0d6e08","name":"PreToken","func":"global.set(\"rd\",msg.payload.rd)\nglobal.set(\"ad\",msg.payload.ad)\nglobal.set(\"ms\",msg.payload.ms)\nglobal.set(\"st1\",msg.payload.st1)\nglobal.set(\"st2\",msg.payload.st2)\nvar apikey=\"nbuJtYK4VYN8kkkTMP_eOwR7ZuX3eUiTDzR4h1FTa4QR\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":319,"y":377.0000047683716,"wires":[["d646a8f9.06f638"]]},{"id":"d646a8f9.06f638","type":"http request","z":"f4e2f71a.0d6e08","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","proxy":"","authType":"","x":518,"y":366,"wires":[["735f7d03.615a14"]]},{"id":"1a2782a1.d01f7d","type":"inject","z":"f4e2f71a.0d6e08","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":164.5,"y":291.00000286102295,"wires":[["9c142cc7.7aac2"]]},{"id":"735f7d03.615a14","type":"function","z":"f4e2f71a.0d6e08","name":"Pre Prediction","func":"var rd = global.get('rd')\nvar ad = global.get('ad')\nvar ms = global.get('ms')\nvar st1 = global.get('st1')\nvar st2 = global.get('st2')\n\nvar token=msg.payload.access_token\nvar instance_id=\"3471cec5-e0e5-44b2-82eb-c0c42fc5d5ce\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"fields\": [\"State1\",\"State2\",\"RD\",\"Admininsration\",\"Marketing\"], \"values\": [[st1,st2,rd,ad,ms]]}\nreturn msg;","outputs":1,"noerr":0,"x":715.0000076293945,"y":329.00000381469727,"wires":[["471773b9.6e1b1c"]]},{"id":"471773b9.6e1b1c","type":"http request","z":"f4e2f71a.0d6e08","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/3471cec5-e0e5-44b2-82eb-c0c42fc5d5ce/deployments/e3abf076-4dd0-45e6-8762-bf9a72bd657a/online","tls":"","proxy":"","authType":"","x":808.5000076293945,"y":273.00000381469727,"wires":[["b9a18b04.6f5248","2d2a6d79.a92f32"]]},{"id":"7ca29c92.586d94","type":"ui_text","z":"f4e2f71a.0d6e08","group":"a64894a2.735778","order":4,"width":0,"height":0,"name":"","label":"Profit","format":"{{msg.payload}}","layout":"row-spread","x":836.6000366210938,"y":425.20001220703125,"wires":[]},{"id":"b9a18b04.6f5248","type":"function","z":"f4e2f71a.0d6e08","name":"","func":"msg.payload=msg.payload.values[0][0]\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":120,"wires":[["7ca29c92.586d94","688495b1.025d7c"]]},{"id":"688495b1.025d7c","type":"debug","z":"f4e2f71a.0d6e08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":930,"y":100,"wires":[]},{"id":"2d2a6d79.a92f32","type":"debug","z":"f4e2f71a.0d6e08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":300,"wires":[]},{"id":"a64894a2.735778","type":"ui_group","z":"","name":"Default","tab":"57e45299.45521c","disp":true,"width":"6","collapse":false},{"id":"57e45299.45521c","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]